# Node
node_modules

.env
.env.local

.git
Dockerfile

# Editors
.idea
.DS_Store

# Build / Output
dist/
build/

# Prisma
/generated/prisma

# Uploads
uploads/
!uploads/.gitkeep

README.md
README-deployment-guide.md
spec_api.md