# Node
node_modules

.env
.env.local

.git
Dockerfile

# Editors
.idea
.DS_Store

# Build / Output
dist/
build/

# Uploads
uploads/
!uploads/.gitkeep

# Logs
*.log

# Docs
README.md
README-deployment-guide.md
spec_api.md